@font-face {
    font-family: "IsadoraBold";
    src: url("../fonts/IsadoraBold/IsadoraBold.eot");
    src: url("../fonts/IsadoraBold/IsadoraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IsadoraBold/IsadoraBold.woff") format("woff"),
    url("../fonts/IsadoraBold/IsadoraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*@font-face {
    font-family: "RalewayThin";
    src: url("../fonts/RalewayThin/RalewayThin.eot");
    src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayThin/RalewayThin.woff") format("woff"),
    url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/
/*
@font-face {
    font-family: "RalewayExtraLight";
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot");
    src: url("../fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
    url("../fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/

@font-face {
    font-family: "RalewayLight";
    src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot");
    src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"),
    url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*

@font-face {
    font-family: "RalewayMedium";
    src: url("../fonts/RalewayMedium/RalewayMedium.eot");
    src: url("../fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
    url("../fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/

/*
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*/

@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot");
    src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*
@font-face {
    font-family: "RalewayExtraBold";
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
    src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
    url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*/

@font-face {
    font-family: "RalewayBlack";
    src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot");
    src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff"),
    url("../fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

